

/* --------------------- Contacto----------------------------*/

#contacto{
  overflow: hidden;
  padding-bottom: 30px;
  padding-top:100px;

}

#contacto h2{
  font-family: 'Questrial', sans-serif;
  font-size: 2.125rem;
  line-height: 4.688rem;
  font-weight: 600;
  margin-top:0px;

  font-weight: bold;
  color:white;
  margin-bottom:0px;
}



.imagencel{
  display: none;
}

.contactotituloizquierda {
  text-align: left;
}

.contactotituloderecha{
  text-align: right;
  margin-bottom:10px;
}

#contacto h3{
  color:#9E9E9E;
}

.direccion{
  display:inline-block;
  width: 40%;
  padding-right: 20px;

}

.contacto{
  display:inline-block;
  padding:10px;
  padding-left: 20px;
}

.imgcontacto{
  display: inline-block;
  width: 180px;
  text-align: left;
  margin-right: 30px;
}


.infocontacto{
  display: inline-block;;
  width: 430px;
  padding: 10px;
}

.gris{
  color:#919290;
  float:left;
  font-weight: bold;
}

.derecha{
  float:right;
}

.conactoflotante{
  font-size: 16px;
  clear:both;
  color:white;
  padding:8px 0px;
  overflow: hidden;
}

.formcontacto{
  padding-top: 20px;
}

form{
  width: 100%;
}

input, textarea{
  font-family: 'Libre Baskerville', 'Playfair Display', Georgia, serif;
  line-height: 40px;
  font-size: 16px;
  width: 85%;
  display:block;
  border: 1px solid #333;
  border-radius: 8px;
  text-align: center;
  padding: 0 5px 0 10px;
  margin-bottom: 24px;
  color:black;
  outline: none;
  appearance: none;
}

input:focus,textarea:focus{
  border: solid 1px #f0f0f0;
  box-shadow: 0 0 5px 1px #F0f0f0;
}

.datosizquierda{
  float:left;
  width: 45%;
}

.datosderecha{
  float:left;;
  width: 51%;
}

textarea{
  width: 100%;
  max-height: 155px;
  max-width:700px;
  line-height: 27px;
  padding-top: 15px;
  resize: none;
}

#enviar{
  width: 20%;
  float: right;
  background-color: grey;
  color:white;
}

.btnEnviar{
  clear:both;
  display: block;
  width: 98%;
  overflow: hidden;
}


#map {
  margin:0px auto;
  width: 100%;
  height: 448px;
  box-shadow: 0 0 5px 1px #f0f0f0;
  border-radius: 7px;
  margin-bottom: 28px;
    margin-top: 23px;
}

.turnos{
  width:40%;
  text-align:left;
}


@media screen and (max-width:1300px){
  .direccion{
    width: 30%;
  }

  #contacto h2 {
    font-size: xx-large;
}
}

@media screen and (max-width:1040px){

  #contacto{
    width: 95%;
    padding:0px;
    padding-top:100px;
  }

  #contacto .direccion{
    padding: 10px;
    float: none;
    margin: 0px auto;
  }

    #map{
    width: 98%;
    }

    #form{
    width: 100%;
    }

    #contacto .contacto{
    margin-top: 10px;
    width: 98%;
    float:left;
    }

    .contactotituloizquierda {
      text-align: center;
    }

    .contactotituloderecha{
      text-align: center;
      padding:40px 0px 0px 0px;
    }

    .imgcontacto {
      margin:0px;
    }

    .direccion{
      width: 80%;
    }

}

@media screen and (max-width:500px){
  .infocontacto{
    width: auto;
  }

  #contacto{
    width: 100%;
  }

  #contacto .contacto {
    float:none;
    width: 100%;
    margin:0px;
    padding:0px;
  }

  .contactotituloizquierda {
    text-align: center;;
  }

  .contactotituloderecha{
    text-align: center;
  }

  .gris{
    float:none;
    display: block;
  }

  #contacto .direccion {
    width: auto;
  }

  .turnos{
    width: auto;
    text-align: center;
  }

  .derecha{
    float:none;
    display: block;
  }

  .datosderecha{
    float:none;
    width: 100%;
  }

  .datosizquierda {
    float:none;
    width: 90%;
    margin:0px auto;
  }

  #enviar{
    float:none;
    width: 50%;
    margin:0px auto;
  }

  input{
    width: 98%;
    padding:0px;
  }

  textarea{
    width: 87%;
    display:inline-block;
    padding:0px;
  }


  #contacto h2{
    line-height: 2.688rem;
  }

  #map {
    height: 250px;
  }

}
