@media screen and (max-width:720px){
   .paralax{
     display: none;
   }
   *{
     margin:0px;
     padding:0px;
   }

   #home {
     background-color: black;
    }

   h2{
     padding-top: 0px;
     font-size: 34px;
   }

}
